/*!
*	______ _	   _   _
*	|  ____| |	 | | (_)
*	| |__  | | __ _| |_ _  ___ ___  _ __
*	|  __| | |/ _` | __| |/ __/ _ \| '_ \
*	| |	| | (_| | |_| | (_| (_) | | | |
*	|_|	|_|\__,_|\__|_|\___\___/|_| |_|
*
*		 https://www.flaticon.com
*/

@font-face {
  font-family: "flaticon";
  src: url("../fonts/flaticon8bbf.woff2?553c94bd8a3f0d24e290f55fb5c99649")
      format("woff2"),
    url("../fonts/flaticon8bbf.woff?553c94bd8a3f0d24e290f55fb5c99649")
      format("woff"),
    url("../fonts/flaticon8bbf.eot?553c94bd8a3f0d24e290f55fb5c99649#iefix")
      format("embedded-opentype"),
    url("../fonts/flaticon8bbf.ttf?553c94bd8a3f0d24e290f55fb5c99649")
      format("truetype"),
    url("../fonts/flaticon8bbf.svg?553c94bd8a3f0d24e290f55fb5c99649#flaticon")
      format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" interior-classic-icon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.interior-classic-icon-brickwall:before {
  content: "\f101";
}
.interior-classic-icon-pantone:before {
  content: "\f102";
}
.interior-classic-icon-bathroom:before {
  content: "\f103";
}
.interior-classic-icon-living-room:before {
  content: "\f104";
}
.interior-classic-icon-blueprint:before {
  content: "\f105";
}
.interior-classic-icon-quote-left:before {
  content: "\f106";
}
.interior-classic-icon-cushions:before {
  content: "\f107";
}
.interior-classic-icon-right-quotation-mark:before {
  content: "\f108";
}
.interior-classic-icon-brickwall-1:before {
  content: "\f109";
}
.interior-classic-icon-star:before {
  content: "\f10a";
}
.interior-classic-icon-stairs:before {
  content: "\f10b";
}
.interior-classic-icon-star-1:before {
  content: "\f10c";
}
.interior-classic-icon-armchair:before {
  content: "\f10d";
}
.interior-classic-icon-user:before {
  content: "\f10e";
}
.interior-classic-icon-kitchen:before {
  content: "\f10f";
}
.interior-classic-icon-bathtub:before {
  content: "\f110";
}
.interior-classic-icon-axis:before {
  content: "\f111";
}
.interior-classic-icon-trophy:before {
  content: "\f112";
}
.interior-classic-icon-house:before {
  content: "\f113";
}
.interior-classic-icon-world:before {
  content: "\f114";
}
.interior-classic-icon-3d:before {
  content: "\f115";
}
.interior-classic-icon-portfolio:before {
  content: "\f116";
}
.interior-classic-icon-paint:before {
  content: "\f117";
}
.interior-classic-icon-satisfaction:before {
  content: "\f118";
}
.interior-classic-icon-bed:before {
  content: "\f119";
}
.interior-classic-icon-phone:before {
  content: "\f11a";
}
.interior-classic-icon-blueprint-1:before {
  content: "\f11b";
}
.interior-classic-icon-telephone:before {
  content: "\f11c";
}
.interior-classic-icon-blueprint-2:before {
  content: "\f11d";
}
.interior-classic-icon-map:before {
  content: "\f11e";
}
.interior-classic-icon-placeholder:before {
  content: "\f11f";
}
.interior-classic-icon-message:before {
  content: "\f120";
}
.interior-classic-icon-right:before {
  content: "\f121";
}
.interior-classic-icon-left:before {
  content: "\f122";
}
.interior-classic-icon-up-right-arrow:before {
  content: "\f123";
}
.interior-classic-icon-check-mark:before {
  content: "\f124";
}
.interior-classic-icon-wallet:before {
  content: "\f125";
}
.interior-classic-icon-clock:before {
  content: "\f126";
}
.interior-classic-icon-tick-mark:before {
  content: "\f127";
}
.interior-classic-icon-conversation:before {
  content: "\f128";
}
.interior-classic-icon-hard-hat:before {
  content: "\f129";
}
.interior-classic-icon-tools:before {
  content: "\f12a";
}
.interior-classic-icon-house-design:before {
  content: "\f12b";
}
.interior-classic-icon-drill:before {
  content: "\f12c";
}
.interior-classic-icon-compass:before {
  content: "\f12d";
}
.interior-classic-icon-tape-measure:before {
  content: "\f12e";
}
.interior-classic-icon-eco-home:before {
  content: "\f12f";
}
.interior-classic-icon-plastering:before {
  content: "\f130";
}
.interior-classic-icon-calendar:before {
  content: "\f131";
}
.interior-classic-icon-people:before {
  content: "\f132";
}
.interior-classic-icon-warranty:before {
  content: "\f133";
}
.interior-classic-icon-premium:before {
  content: "\f134";
}
.interior-classic-icon-offer:before {
  content: "\f135";
}
.interior-classic-icon-engineer:before {
  content: "\f136";
}
.interior-classic-icon-award:before {
  content: "\f137";
}
.interior-classic-icon-magnifying-glass:before {
  content: "\f138";
}
.interior-classic-icon-trolley:before {
  content: "\f139";
}
.interior-classic-icon-client:before {
  content: "\f13a";
}
